<h1><%= @card_set.name %></h1>


<div>
  <ul>
    <% @card_set.cards.each do |card| %>
      <li><%= card.name %></li>
      <img src="https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=<%= card.multiverse_id %>&type=card" />
      
      <% if card.collected_cards.find_by(collection_id: current_user.collection).present? %>
        <div>Collected: <%= card.collected_cards.find_by(collection_id: current_user.collection).quantity %></div>
      <% end %>

      <% if card.collections.find_by(user_id: current_user.id) %>
        <%= link_to 'Add more to collection', update_card_path(card.id), data: { method: 'PUT' } %>
      <% else %>
        <%= link_to 'Add to collection', add_card_path(card.id), data: { method: 'POST' } %>
      <% end %>

      <%= link_to 'Remove card from collection', remove_card_path(card.id), data: { method: 'DELETE' } %>
    <% end %>
  </ul>
</div>
